.btn btn-lg{
	background-color: blue;
}

/* style for display */
.display{
    text-align: right;
    background-color: white;
    border-radius: 0.2rem;
    margin-bottom: 2rem;
    
    
}

.calculator{
	display: block;
	margin: 10px auto;
    background-color: #e4e4e7;
    height: 100%;
    padding: 5rem;
}
button{
    width: 100%;
    margin-bottom: 1.7rem;
}

.wrapper{
    max-width: 450px;
    margin: 0 auto;

}